<!-- Tämä tiedosto näyttää kirjan tiedot ja siitä tehdyt arvioinnit.
Tähän lisättävää on hakea paremmin arviointeja 
sekä pystyä järjestämään niitä pituuden tai arvosanan perusteella -->

<h2>{{book[0][0]}}</h2>
<p>
    Kirjailija: {{book[0][2]}} <br>
    Sivumäärä:{{book[0][1]}}
</p>
<ul>
    {% for rewiew in rewiews %}
    Luotu: {{ rewiew[1].strftime("%Y-%m-%d %H:%M:%S") }} <br>
    Arviointi: {{rewiew[2]}} <br>
    {{rewiew[0]}}
    <hr>
    {% endfor %}
</ul>
<form action="/add_rewiew/{{ book[0][3] }}" method="POST">
    <p>Lisää arviointi:<br>
        Arviointi:<br>
        <input type="rewiew_text" name="rewiew_text"><br>
        Kirjoita numero yhden ja kymmenen väliltä.<br>
        <input type="number" name="rewiew_score"><br>
        <input type="submit" value="Lähetä">
    </p>
</form>