<!-- Tämä sivu näytetään vain admin profiileille, tämän avulla voidaan lisää kirjoja -->
{% extends "profile.html" %}
{% block notadmin %}
<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Admin profiilia ei voi poistaa</a>
{% endblock %}
{% block content %}
<h3>Hei admin, lisää kirja tästä</h3>
<hr>
<h4>{{ message }}</h4>
<form action="/add_book" method="POST">
    <p>Kirjan nimi:<br>
        <input type="text" name="name"></p>
    <p>Sivumäärä:<br>
        <input type="number" name="length"></p>
    <p>Julkaisuvuosi:<br>
        <input type="number" name="publication_year"></p>
    <p>Kirjailija:<br>
        <input type="text" name="author"></p>
    <input type="submit" class="btn btn-primary" value="submit">
</form>
{% endblock %}