<!-- Tässä tiedostossa kysytään käyttäjältä käyttäjänimeä ja salasanaa profiilin luomista varten. 
Lisättävä ominaisuus on tarkistaa oikeanlainen salasana ja vapaa käyttäjätunnus. 
Tämä voisi jatkaa index.html-tiedostoa-->
{% extends "login.html" %}
{% block content %}
<h3>{{ message }} </h3>
<form action="/create_account" method="POST">
    <p>käyttäjänimi:</p>
    <input type="text" name="username" maxlength="10">
    <p>Salasana:</p>
    <input type="password" name="password"><br>
    <input type="submit" class="btn btn-primary" value="Luo uusi käyttäjä"><br>
</form>
<hr>
<a href="/login_page">Takaisin</a>
{% endblock %}