<!--Tämä sivu on sivuston etusivu josta linkit muille sivuille. Lisäksi tästä voi hakea kirjoja-->
<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<title>Hyvät lukemat</title>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="https://github.com/Vesulius/kirja-arvostelu-sovellus">By Vesulius</a>
        <ul class="navbar-nav">
            {% if session.username %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Kirjaudu ulos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Käyttäjän {{ session.username }} profiili</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login_page">Kirjaudu sisään</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="row">
        <div class="col-8">
            <h1>Hyvät lukemat</h1>
            <p>Tällä voit löytää uusia kirjoja sekä kirjoittaa niistä arvosteluja</p>
            <form action="/search" method="POST">
                <div class="active-cyan-3 active-cyan-4 mb-4">
                    <input class="form-control" type="text" name="searchterm" placeholder="Search" aria-label="Search">
                </div>
                <input type="submit" class="btn btn-primary" value="Hae">
            </form>
        </div>
    </div>
</div>